* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.box {
  width: 100%;
  height: 50px;
  background-color: blue;
  text-align: center;
  color: white;
  align-content: center;
  font-size: 10px;
}
.container-2 .box{
    background-color: green;
    height: 25px;
    
}
.top .box{
    height: 25px;
}
.middle .box{
    height: 25px;
} 
.down .box{
    height: 25px;
}
